#melissa { height: 100vh; width: 100vw; }

#melissa .top-card { position: absolute; top: 0px; right: 0px; z-index: 1; margin: 10px 10px 0 0; background-color: #fff; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); min-width: 40vw; }
#melissa .top-card .title { background-color: #400101; color: #fff; font-size: 25px; font-weight: 500; padding: 6px 12px; }
#melissa .top-card .loc-wrapper { padding: 0 12px; }
#melissa .top-card #loc-input:focus { border-bottom: 1px solid red; -webkit-box-shadow: 0 1px 0 0 red; box-shadow: 0 1px 0 0 red; }

#melissa #map { height: 100%; width: 100%; }

#melissa .bottom-card { position: absolute; bottom: 0; left: 0; z-index: 1; margin: 0 0 10px 10px; background-color: #fff; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); max-height: 600px; transition: all 1s ease-in-out; display: none; }
#melissa .bottom-card.show { display: flex; }
#melissa .bottom-card > * { padding: 12px; }
#melissa .bottom-card img { max-height: 200px; }
#melissa .bottom-card .dest-details .title { font-size: 25px; font-weight: 500; }
#melissa .bottom-card .dest-details .btn { background-color: red; white-space: nowrap; }
#melissa .bottom-card .dest-details .btn:hover { background-color: #400101; }

@media only screen and (max-width: 768px) {
  #melissa .bottom-card { flex-direction: column; margin: 0; width: 100%; }
  #melissa .bottom-card img { display: none; }  
}

@supports (-webkit-overflow-scrolling: touch) {
  #melissa { height: calc(100vh - 44px); }
}